html {
  height: 100%;
}

body {
  min-height: 100%;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0px;
  position: fixed; /* Stay in place */
  z-index: 16; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav-open {
  width: 20%; /* Class opens sidenav */
}

.main-move {
  margin-left: 20%;
}

.main-normal {
  width: 0px;
}

.nav {
  background-color: #4caf50;
  height: 3em;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  width: 100%;
  height: 100%;
}

#main-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

a.nav-link {
  color: #fff;
}

.sidenav > a {
  padding: 8px 3px 8px 17px;
}

.sidenav > a:hover {
  background-color: #fff;
  color: #111;
}

.closebtn:hover {
  color: #fff !important;
  background-color: transparent !important;
}

hr {
  border-top: 1px solid rgba(255, 249, 249, 0.34);
  margin-top: 0rem;
  margin-bottom: 0rem;
}

div#sub-main{
  display: flex;
  justify-content: center;
  align-content: center;
  width: auto;
  padding: 24px;
  overflow-y: auto;
  height: auto;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.carousel{
  width: 60%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 450px) {
  .sidenav {
    padding-top: 100px;
  }
  .sidenav a {
    font-size: 14px;
  }

  .sidenav-open {
    width: 80%;
  }

  .main-move {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1023px) {
  .sidenav {
    padding-top: 100px;
  }
  .sidenav a {
    font-size: 14px;
  }

  .sidenav-open {
    width: 24%;
  }

  .main-move {
    margin-left: 24%;
  }
}
